{% extends "base2.html" %}
{% load staticfiles %}


{% block css %}

<link rel="stylesheet" type="text/css" href="{% static "entity_full.css" %}">

{% endblock css %}

{% block content %}

<br>

<div class="container flex">

  {% if Entity.image_1 %}
  <div class="image">
    <img src="{{ Entity.image_1.url }}" height="200" width="200">
  </div>
  {% endif %}

  <div class="data">
    <h3> {{ Entity.name }} </h3>
    <span>{{ Entity.profile }}</span><br>
    <hr>
    <span id="head">Services: </span> <span>{{ Entity.services }} </span> </p>
    <hr>
    <div class="row flex2">

      <div class="col"> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ Entity.timings }} </div>
      <div class="col"> <i class="fa fa-phone" aria-hidden="true"></i> {{ Entity.mobile }} </div>
      <div class="col"> <i class="fa fa-map-marker" aria-hidden="true"></i> {{ Entity.address }}</div>

    </div>



  </div>


</div>



{% endblock content %}
