{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Intro Header -->
    <div id="#intro">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">An <span id="orange">INDIVIDUAL</span> can <span id="blue">STRENGTHEN</span> the <span id="green">WORLD</span>. </h1>
                        <br><p class="intro-text">Know How?<br></p>
                        <p id="arrow"><a href="#abou" class="btn btn-circle page-scroll">
                            <i id="icon" class="fa fa-angle-double-down animated fa-2x" style="color:#800080;"></i>
                        </a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>




<div id="background">
    <!-- Message -->
    <section id="abou" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="margin">
                <p class="text-lines">Ishan Creations Empowers an Individual,<br><span >which Strengthens Family.</span></p>
                <p class="text-lines">Ishan Creations Empowers Family,<br><span>which Strengthens Society.</span></p>
                <p class="text-lines">Ishan Creations Empowers Society,<br><span>which Strengthens State.</span></p>
                <p class="text-lines">Ishan Creations Empowers State,<br><span>which Strengthens Country.</span></p>
                <p class="text-lines">Ishan Creations Empowers Country,<br><span>which Strengthens the World.</span></p>
              <div>
                <p id="about" class="message-end">"An Individual Can Strengthen the World"</p>

            </div>
        </div>
    </section>



    <section id="" class="container content-section text-center">
      <div></div>
        <div>
                <h2 class="sub-headings">ABOUT US</h2>
                <p class="about-para">Ishan Creations is created & founded by Rajneesh Kumar Malhotra. At Ishan Creations, Our aim from inception is to put the needs of others first, and our commitment to give back Value for money to them. Ishan Creations' Motto is <span style="font-family:fantasy">“Get More. SMARTLY”</span></p>
                <p class="introducing">Introducing</p>
                <div class="main_logo"><img id="image_width" src="{% static 'IC_(logo).png' %}"></div>
        </div>

        <p class="about-para">Ishan Creations is the World’s 1<sup>st</sup> and Unique innovative concept with a:<p>
        <h2 class="sub-headings">Vision</h2>
        <p class="vision">वसुधैव कुटुम्बकम (Vasudhaiv Kutumbakam)</p>
        <p class="small-text">The whole world is Family</p>

        <h2 class="sub-headings">Mission</h2>
        <p class="mission">Empowering Consumer, Strengthening Business</p>

        <p class="about-para"><span style="font-weight: 800;">For Consumer</span>, Our objective is to make home consumables conveniently available with Value for money. We at Ishan Creations aim to provide Benefits in your Daily needs to Shopping, Dining to Entertainment, Fitness to Wellness and many more services with Trust.</p>
        <p class="about-para"><span style="font-weight: 800;">For Business entity</span>, We help to get Better ROI by strengthening their business with a long term Success and Growth.</p>
        <p class="about-para">It gives a platform to those Entrepreneurs / Business entities that are committed to provide Best Quality Products & Services to Our Consumer members at a reasonable competitive Price and eager to promote this awareness to everyone.</p>
        <p class="about-para">Our members are our family and we want to build Trust and Confidence in Consumer and Business entities to serve right & better by understanding their preferences and have a genuine, mutual and profound long term relationship with lots of Privileges & Benefits.</p>
        <p class="question">Not already associated with Us, what are You waiting for? </p>
        <p class="answer">Be a part of our Family & <span style="font-family:fantasy">Get More. SMARTLY<span></p>

    </section>



    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="sub-headings">CONTACT US</h2>
                <p class="small-text">For more information contact us at</p>
                <p class="number"><i class="fa fa-mobile" aria-hidden="true"></i> +91 81081 27110</p>
                <p class="link"><a href="mailto:ishancreations@hotmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> ishancreations@hotmail.com</a></p>

            </div>
        </div>


        <footer style="background-color: #800080; margin-top:25px">
            <div class="container text-center">
                <p class="small-text">Copyright &copy; Ishan Creations 2018</p>
            </div>
        </footer>


    </section>

</div>
{% endblock content %}
