.flex {
  display: flex;
  justify-content: space-around;
  padding: 1% 1% 1% 1%;
}

.image {
  width: 30%;
}

img {
  display: block;
  margin: 0 auto;
}

.data {
  width: 70%;
  text-align: justify;
}

h3 {
  color: #b76cb5;
  text-align: left;
}

#head {
  font-weight: 800;
  font-size: 1.2em;
}

span {
  font-size: 1.2em;
}

.flex2 {
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}
.col {
  text-align: left;
  width: 33%;
}

.address {
  width: 33%;
  text-align: center;


}
.timmings {
  width: 33%;
  text-align: center;

}
.carousel {
  width: 33%;
  text-align: center;
}

.bod {
  border: 1px solid #eee;
  display: block;
}
.stream {
  display: flex;
  justify-content: center;

}
.thumbnail {
  margin-right: 3px;
}


@media only screen and (max-width: 500px) {

    .image {
      width: 100%;
    }

    h3 {
      text-align: center;
    }
    .flex {
      display: block;
      padding: 5% 1% 1% 1%;
      margin: 0 auto;
      border: 1px solid pink;
    }
    .flex2 {
      display: block;
    }
    .col {
      width: 100%;
      text-align: justify;
      padding: 1% 1% 1% 1%;
      border-bottom: 1px solid #eee;
    }
    .data {
      margin: 0 auto;
      text-align: justify;
    }
    .address {
      width: 100%;
      text-align: center;


    }
    .timmings {
      width: 100%;
      text-align: center;

    }
    .carousel {
      width: 100%;
      text-align: center;
      justify-content: space-around;

    }

}
