.entity {
  width: 86%;
  margin: 0 auto;
  border: 1px solid #b266b2;
  padding: 1% 1% 1% 1%;
}
h3 {
  color: #b266b2;
  font-size: 1.5em;

}
a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}
